:root {
	--main-clr: #1fb6a6;
	--accent: #00c853;
	--contrast: #0f172a;
	--light-gray: #eef7f5;
	--border-radius: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Encode Sans Expanded", sans-serif;
	color: var(--contrast);
	/* outline: 1px pink solid; */
}